* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    --color-1: #6096B4;
    --color-2: #E5FDD1;
    --color-3: #C9F4AA;
    --color-4: #FCC2FC;
    background-image: linear-gradient(white, #a4d0a473, #A4D0A4);
}

#title {
    font-size: 50px;
}


a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

header img {
    width: 50%;
    height: auto;
    min-width: 250px;
  }

.test-class {
    border-radius: 15px;
}

a:hover {
    background-color: lightblue;
    color: black;
  }

#Github-logo {
    height: 26px;
    width: 26px;
}
.card {
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    padding: 10px;
    flex: 0 0 300px;
    margin: auto;
  }

  .type-box {
    border-radius: 15px;
    margin: 15px;
  }

  .second-card div{
    padding: 10px;
  }

.card img{
    border-radius: 15px;
}

#image-box {
    border-radius: 15px;
}